<div ng-controller="SearchCtrl as vm">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>

            <input type="text" class="form-control" placeholder="Enter search term(s). Separate multiple terms by ','" ng-model="vm.searchTerm">
        </div>
    </div>

    <div>
        <div>
            <div id="resultList">
                <div ng-repeat="msg in vm.hl7Messages.messages | filterMultiple:vm.searchTerm"  class="panel panel-default">
                    <div class="panel-heading">
                        SOURCE : {{msg.source}} DATE : {{msg.date}}
                    </div>
                    <div class="panel-body">

                        <span ng-bind-html="msg.message | highlight:vm.searchTerm" formathl7="msg.message" ></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>